body {
  background-color: black;
  color: aliceblue;
}

main {
  padding-top: 50px;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  display: inline-block;
  border: 0;
  width: 25%;
}
