body {
  background-color: black;
  color: white;
}

main {
  padding-top: 50px;
  max-width: 350px;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: white;
  display: inline-block;
  border: 0;
  width: 25%;
  cursor: pointer;
}

button.with-text {
  width: auto;
  background-color: rgb(103, 98, 98);
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 1.4ren;
  line-height: 36px;
}

button.with-text svg {
  width: 36px;
  float: left;
  margin-right: 5px;
}

label {
  display: block;
}
